body {
    background: lightblue;
}

#container {
    background: rgb(236, 232, 232);
    width: 360px;
    margin: 0px auto;
    border: solid 2px black;
}

.done {
    text-decoration: line-through;
    color: gray;
}